.TopMenuGroup
{
  background-image:url(images/top_group_background.gif);
  background-color:#202020; 
  border:solid 1px gray; 
  cursor:default; 
}

.MenuGroup
{
  background-image:url(images/group_background.gif);
  background-color:white;
  border:solid 1px #7E7E81; 
  cursor:default; 
}

.TopMenuItem
{
  border: 1px solid transparent;
  color:#f0f0f0; 
  padding:10px;
  font-weight:bold;
  font-family:tahoma; 
  font-size:12px; 
  cursor:default; 
}

.TopMenuItemHover 
{
  border: 1px solid #505050;
  color:#f0f0f0; 
  padding:9px;
  font-weight:bold;
  font-family:tahoma; 
  font-size:12px; 
  cursor:default; 
}

.TopMenuItemExpanded
{
  border: 1px solid transparent;
  color:#f0f0f0; 
  padding:10px;
  font-weight:bold;
  font-family:tahoma; 
  font-size:12px; 
  cursor:default; 
}

.MenuItem
{
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  margin:1px; 
  cursor:default; 
}

.MenuItemHover 
{
  background-color:#FFEEC2; 
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #4B4B6F; 
  cursor:default; 
}

.MenuBreak
{
  background-image:url(images/break_bg.gif);
  width:100%;
  height:1px;
}