<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="~/app_data/demodata.mdb"/>
	</appSettings>
	<connectionStrings>
		<add name="demodataEntities" connectionString="metadata=res://*/PostsModel.csdl|res://*/PostsModel.ssdl|res://*/PostsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\demodata.mdf;Integrated Security=True;User Instance=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<customErrors mode="Off"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add path="CartLicense.axd" verb="*" type="ComponentArt.Silverlight.Server.LicensingHandler, ComponentArt.Silverlight.Server"/>
			<add path="ComponentArtUploadProgress.axd" verb="*" type="ComponentArt.Silverlight.Server.UploadProgressHandler,ComponentArt.Silverlight.Server"/>
		</httpHandlers>
		<httpModules>
   <add name="ComponentArtUploadModule" type="ComponentArt.Silverlight.Server.UploadModule,ComponentArt.Silverlight.Server" />
   <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
  <modules runAllManagedModulesForAllRequests="true">
   <add name="ComponentArtUploadModule" type="ComponentArt.Silverlight.Server.UploadModule,ComponentArt.Silverlight.Server" />
   <!--
			<add name="DomainServiceModule" preCondition="managedHandler" type="System.Web.Ria.Services.DomainServiceHttpModule, System.Web.Ria,Version=2.0.0.0,Culture=neutral,PublicKeyToken=31BF3856AD364E35"/>
      -->
   <add name="DomainServiceModule" preCondition="managedHandler"
    type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </modules>
  <handlers>
   <add name="CartLicense" verb="*" path="CartLicense.axd" type="ComponentArt.Silverlight.Server.LicensingHandler, ComponentArt.Silverlight.Server"
    preCondition="integratedMode" />
   <add name="ComponentArtUploadProgressHandler" type="ComponentArt.Silverlight.Server.UploadProgressHandler,ComponentArt.Silverlight.Server"
    path="ComponentArtUploadProgress.axd" verb="*" preCondition="integratedMode" />
  </handlers>
 </system.webServer>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="MyHeavyServiceTypeBehaviors">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata httpGetEnabled="true"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
		<services>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.WCFMessageService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.Silverlight.Demos.Web.WCFMessageService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.WCFProductService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.Silverlight.Demos.Web.WCFProductService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.WCFCarService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.Silverlight.Demos.Web.WCFCarService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaDataGridMessageService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaDataGridService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaDataGridProductService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaDataGridService"/>
			</service>
			<service behaviorConfiguration="MyHeavyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaDataGridFeedService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaDataGridService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.TreeViewFileBrowserService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaTreeViewService"/>
			</service>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.DataGridFileBrowserService">
        <endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaDataGridService" />
      </service>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaSimpleTabStripService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaTabStripService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaSimpleToolBarService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaToolBarService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.ManualTreeViewFileExplorerService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.Silverlight.Demos.Web.ManualTreeViewFileExplorerService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.ManualComboBoxLocationsService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.Silverlight.Demos.Web.ManualComboBoxLocationsService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaComboBoxLocationService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaComboBoxService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.ManualNavBarService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.Silverlight.Demos.Web.ManualNavBarService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaNavBar">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaNavBarService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaMenuDemoService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaMenuService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaTreeViewEdit">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaTreeViewService"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SalesDataService">
				<endpoint address="" binding="customBinding" bindingConfiguration="customBinding0" contract="ComponentArt.Silverlight.Demos.Web.SalesDataService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="ComponentArt.Silverlight.Demos.Web.SoaFeedReaderTreeViewService">
				<endpoint address="" binding="basicHttpBinding" contract="ComponentArt.SOA.UI.ISoaTreeViewService"/>
			</service>
		</services>
		<bindings>
			<customBinding>
				<binding name="customBinding0">
					<binaryMessageEncoding/>
					<httpTransport/>
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>
</configuration>
