@using ComponentArt.Web.UI
@{
  ViewData["DemoType"] = "NavBar";
  ViewData["DemoTitle"] = "Themed With CSS Icons";
  ViewData["CodeFiles"] = "/Views/NavBar/ThemedWithCssIcons.aspx,/Controllers/NavBarController.cs";
  ViewData["AboutText"] = @"
<ul>
<li>NavBar's built-in theme-switching functionality is showcased here, which is activated via its AutoTheming property.</li>
<li>Custom icon images are defined inside CSS classes, which are applied to NavBarItems by an 'IconCssClass' property. </li>
</ul>
";    
}
@section HeadContent {
  <link href="@Url.Content("~/Content/NavBar/ThemedWithCssIcons/style.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Content/Themes/Outlook2007/theme.css")" rel="stylesheet" type="text/css" />  
}
<div style="height: 355px; width: 240px">
@(Html.ComponentArt().NavBar()
  .ID("NavBar1")
  .SiteMapXmlFile("~/App_Data/NavBar/ThemedWithCssIcons/navbar.xml")
  .AutoTheming(true)
  .FullExpand(true)
  .FillContainer(true)
)
</div>
