@using ComponentArt.Web.UI

@{ 
  ViewData["DemoType"] = "DataGrid";
  ViewData["DemoTitle"] = "Server Running Mode";
  ViewData["CodeFiles"] = "/Views/DataGrid/ServerRunningMode.aspx,/Controllers/DataGridController.cs";
  ViewData["AboutText"] = @"
<ul>
<li>Paging, sorting, filtering, and grouping are performed on the server;</li>
<li>Each action initiates an ASP.NET postback and triggers the appropriate server-side event;</li>
<li>The entire page object model is available for programmatic access;</li>
<li>This running mode can be used to handle millions of records.</li>
<li>In this example we are passing the View's Model directly to DataGrid's HTML-Helper method, which takes care of the paging logic for us.</li>  
</ul>
";    
}

@section HeadContent {
  <link type="text/css" href="../../Content/DataGrid/FeedBrowserContent/gridStyle.css"
    rel="stylesheet" />
  <style type="text/css">
    .cart-datagrid-grouping-text
    {
      color: #444 !important;
      font: 10pt normal Helvetica,Arial,sans-serif !important;
    }
    .cart-datagrid-pager-text
    {
      color: #555 !important;
      font: 8pt normal Helvetica,Arial,sans-serif !important;
    }
  </style>
  <script type="text/javascript">
    var sortedDataField = "";
    var sortedDescending = false;
    function Grid1_onLoad(sender, e)
    {
      if (typeof (sender.Levels[0].IndicatedSortColumn) != 'undefined')
      {
        sortedDataField = sender.Levels[0].Columns[sender.Levels[0].ColumnDisplayOrder[sender.Levels[0].IndicatedSortColumn]][0];
        sortedDescending = sender.Levels[0].IndicatedSortDirection;
        sender.render();
      }
    }    
  </script>
  <link href="@Url.Content("~/Content/Themes/ArcticWhite/theme.css")" rel="stylesheet" type="text/css" />
}

@(Html.ComponentArt().DataGrid()
  .ID("Grid1")
  .Width(780)
  .Height(438)
  .AutoTheming(true)
  .AllowColumnResizing(true)
  .ShowHeader(true)
  .RunningMode(GridRunningMode.Server)
  .PageSize(15)
  .PreExpandOnGroup(true)
  .GroupingPageSize(15)
  .GroupingMode(GridGroupingMode.ConstantRecords)
  .ImagesBaseUrl("~/Content/DataGrid/FeedBrowserContent/images/")
  .Levels(l =>
  {
    l.Add()
      .Columns(c =>
      {
        c.Add().DataField("FeedName").DataCellCssClass("DarkerDataCell").Width(120).DataCellClientTemplateId("feedNameTemplate").HeadingCellClientTemplateId("feedNameHeadingTemplate");
        c.Add().DataField("Title").DataCellCssClass("LighterDataCell").DataCellClientTemplateId("feedTitleTemplate").HeadingCellClientTemplateId("feedTitleHeadingTemplate");
        c.Add().DataField("DatePosted").DataCellCssClass("DarkerDataCell").Width(150).DataCellClientTemplateId("dateCellTemplate");
        c.Add().DataField("Visits").DataCellCssClass("LighterDataCell").Width(60).DataCellClientTemplateId("dataCellTemplate");
        c.Add().DataField("Rating").DataCellCssClass("DarkerDataCell").Width(65).DataCellClientTemplateId("ratingTemplate").FixedWidth(true);
        c.Add().HeadingText("Site").DataCellCssClass("LighterDataCell").Width(40).DataCellClientTemplateId("siteTemplate").AllowSorting(InheritBool.False).FixedWidth(true);
        c.Add().DataField("ItemURL").Visible(false);
      });
  })
    .ClientTemplates(ct =>
    {
      ct.Add().ID("scrollerTemplate").Content(@"
        <div style=""background-color: #404040; padding: 12px; color: #e0e0e0; font-family: arial, verdana; font-size: 12px;
          font-weight: bold;"">## DataItem.Index ##</div>
          ");
      ct.Add().ID("siteTemplate").Content(@"
        <div style=""height:20px; padding: 0px; font-weight: bold; text-align: center;""><a style=""color: Red; text-decoration: none;"" target=""_blank"" href=""## DataItem.getMember('ItemURL').get_value() ##""><img alt="" "" border=""0"" src=""## get_root() ##/Content/DataGrid/FeedBrowserContent/images/go.png"" /></a></div>
        ");
      ct.Add().ID("ratingTemplate").Content(@"
        <img alt="" "" border="" "" src=""## get_root() ##/Content/DataGrid/FeedBrowserContent/images/Rating/## Math.round(Math.min(5, DataItem.getCurrentMember().get_value())) ##.png"" style=""padding: 0px 0px 0px 6px;""/>      
");
      ct.Add().ID("dateCellTemplate").Content(@"
          <div style=""padding:0px 0px 0px 6px; text-overflow:ellipsis;width:## (DataItem.getCurrentMember().get_column().get_width() - 6) ##px;overflow:hidden;""><nobr>## DataItem.getMember('DatePosted').get_text() ##</nobr></div>
");
      ct.Add().ID("dataCellTemplate").Content(@"
        <div style=""padding:0px 0px 0px 6px; text-overflow:ellipsis;width:## (DataItem.getCurrentMember().get_column().get_width() - 6) ##px;overflow:hidden;""><nobr>## DataItem.getCurrentMember().get_text() ##</nobr></div>      
");
      ct.Add().ID("feedNameTemplate").Content(@"
<table cellspacing=""0"" cellpadding=""0"" border=""0"">
  <tr>
    <td valign=""middle"" style=""padding: 0px 0px 0px 6px;"">
      <img border=""0"" alt="" "" src=""## get_root() ##/Content/DataGrid/FeedBrowserContent/images/feedName-icon.png"" />
    </td>
    <td style=""padding: 0px 0px 0px 6px;"">
      <div style=""text-overflow:ellipsis;width:## (DataItem.getCurrentMember().get_column().get_width() - 30) ##px;overflow:hidden;""><nobr>## DataItem.getCurrentMember().get_text() ##</nobr></div>
    </td>
  </tr>
</table>     
");
      ct.Add().ID("feedNameHeadingTemplate").Content(@"
<table cellspacing=""0"" cellpadding=""0"" border=""0"">
  <tr>
    <td valign=""middle"" style=""padding: 0px 0px 0px 6px;"">
      <img border=""0"" alt="" "" src=""## get_root() ##/Content/DataGrid/FeedBrowserContent/images/feedName-icon.png"" />
    </td>
    <td style=""font: 11px Tahoma,Verdana,Arial,Helvetica,sans-serif; padding: 0px 0px 0px 6px;width:65px"">
      Feed&nbsp;Name
    </td>
    <td class=""##
if (sortedDataField == DataItem.get_dataField())
{
  (sortedDescending ? 'cart-datagrid-sort-desc' : 'cart-datagrid-sort-asc');
}
  ##"" >&nbsp;&nbsp;
    </td>    
  </tr>
</table>      
");
      ct.Add().ID("feedTitleTemplate").Content(@"
        <table cellspacing=""0"" cellpadding=""0"" border=""0""><tr><td style=""padding: 0px 0px 0px 6px;""><img border=""0"" alt="" "" src=""## get_root() ##/Content/DataGrid/FeedBrowserContent/images/feedTitle-icon.png"" /></td><td style=""padding: 0px 0px 0px 6px;""><div style=""text-overflow:ellipsis;width:## (DataItem.getCurrentMember().get_column().get_width() - 30) ##px;overflow:hidden;""><nobr>## DataItem.getCurrentMember().get_text() ##</nobr></div></td></tr></table>      
");
      ct.Add().ID("feedTitleHeadingTemplate").Content(@"
<table cellspacing=""0"" cellpadding=""0"" border=""0"">
  <tr>
    <td style=""padding: 0px 0px 0px 6px;"">
      <img border=""0"" alt="" "" src=""## get_root() ##/Content/DataGrid/FeedBrowserContent/images/feedTitle-icon.png"" />
    </td>
    <td style=""font: 11px Tahoma,Verdana,Arial,Helvetica,sans-serif; padding: 0px 0px 0px 6px;width:340px"">
      Item&nbsp;Title
    </td>
    <td class=""##
if (sortedDataField == DataItem.get_dataField())
{
  (sortedDescending ? 'cart-datagrid-sort-desc' : 'cart-datagrid-sort-asc');
}
  ##"">&nbsp;&nbsp;
    </td>    
  </tr>
</table>      
");
    })
    .ClientEvents(ce =>
    {
      ce.Load("Grid1_onLoad");
    })
)
