@using ComponentArt.Web.UI

@{ 
  ViewData["DemoType"] = "DataGrid";
  ViewData["DemoTitle"] = "Slider - Client Mode";
  ViewData["CodeFiles"] = "/Views/DataGrid/SliderClient.aspx,/Controllers/DataGridController.cs,/Controllers/DataGrid/SliderClientController.cs";
  ViewData["AboutText"] = @"
<ul>
<li>This sample demonstrates the use of a slider in Client mode.</li>
</ul>
";    
}

@section HeadContent {
  <link type="text/css" rel="stylesheet" href="../../Content/DataGrid/MessageBrowserContent/gridStyle.css" />
  <style type="text/css">
    .cart-datagrid-grouping-text
    {
      font-size: 10pt !important;
      font-weight: normal !important;
    }
    .cart-datagrid-pager-text
    {
      font-size: 10pt !important;
    }
    .cart-datagrid-pager-text a:link
    {
      color: #444;
    }
  </style>
  <link href="@Url.Content("~/Content/Themes/Office2010Blue/theme.css")" rel="stylesheet" type="text/css" />
}

@(Html
  .ComponentArt().DataGrid()
  .ID("Grid1")
  .Width(700)
  .Height(450)
  .AutoTheming(true)
  .AllowColumnResizing(true)
  .ShowHeader(true)
  .FooterHeight(32)
  .RunningMode(GridRunningMode.Client)
  .PageSize(14)
  .PagerStyle(GridPagerStyle.Slider)
  .ImagesBaseUrl("~/Content/DataGrid/MessageBrowserContent/images/")
  .Levels(l =>
  {
    l.Add().Columns(c =>
    {
      c.Add().DataField("PriorityIcon").DataCellCssClass("FirstDataCell").SortedDataCellCssClass("SortedDataCell").Width(12).DataCellClientTemplateId("PriorityIconTemplate").HeadingCellCssClass("FirstHeadingCell").HeadingImageUrl("icon_priority.gif").FixedWidth(true);
      c.Add().DataField("EmailIcon").SortedDataCellCssClass("SortedDataCell").Width(20).DataCellClientTemplateId("EmailIconIconTemplate").HeadingImageUrl("icon_icon.gif").FixedWidth(true);
      c.Add().DataField("AttachmentIcon").SortedDataCellCssClass("SortedDataCell").Width(12).DataCellClientTemplateId("AttachmentIconTemplate").HeadingImageUrl("icon_attachment.gif").FixedWidth(true);
      c.Add().DataField("Subject").SortedDataCellCssClass("SortedDataCell").Width(300);
      c.Add().DataField("LastPostDate").HeadingText("Received").SortedDataCellCssClass("SortedDataCell").FixedWidth(true);
      c.Add().DataField("StartedBy").SortedDataCellCssClass("SortedDataCell").Width(80).FixedWidth(true);
      c.Add().DataField("TotalViews").SortedDataCellCssClass("SortedDataCell").Width(80).FixedWidth(true);
      c.Add().DataField("FlagIcon").SortedDataCellCssClass("SortedDataCell").Width(20).DataCellClientTemplateId("FlagIconTemplate").HeadingImageUrl("icon_flag.gif").FixedWidth(true);
      c.Add().DataField("PostId").Visible(false);
    });
  })
  .ClientTemplates(ct =>
  {
    ct.Add().ID("PriorityIconTemplate").Content(@"
        <img src=""## get_root() ##/Content/DataGrid/MessageBrowserContent/images/## DataItem.GetMember('PriorityIcon').Value ##"" width=""8"" height=""10"" border=""0"">
          ");
    ct.Add().ID("EmailIconIconTemplate").Content(@"
        <img src=""## get_root() ##/Content/DataGrid/MessageBrowserContent/images/## DataItem.GetMember('EmailIcon').Value ##"" width=""20"" height=""15"" border=""0"">
        ");
    ct.Add().ID("AttachmentIconTemplate").Content(@"
        <img src=""## get_root() ##/Content/DataGrid/MessageBrowserContent/images/## DataItem.GetMember('AttachmentIcon').Value ##"" width=""8"" height=""10"" border=""0"">
");
    ct.Add().ID("FlagIconTemplate").Content(@"
        <img src=""## get_root() ##/Content/DataGrid/MessageBrowserContent/images/## DataItem.GetMember('FlagIcon').Value ##"" width=""12"" height=""12"" border=""0"">
");
    ct.Add().ID("SliderTemplate").Content(@"
        <table class=""SliderPopup"" cellspacing=""0"" cellpadding=""0"" border=""0"">
        <tr>
          <td valign=""top"" style=""padding:5px;"">
          <table width=""100%"" cellspacing=""0"" cellpadding=""0"" border=""0"">
          <tr>
            <td width=""25"" align=""center"" valign=""top"" style=""padding-top:3px;""><img src=""## get_root() ##/Content/DataGrid/MessageBrowserContent/images/## DataItem.GetMember('EmailIcon').Value ##"" width=""20"" height=""15""><br><img src=""## get_root() ##/Content/DataGrid/MessageBrowserContent/images/## DataItem.GetMember('PriorityIcon').Value ##"" width=""8"" height=""10"" border=""0""><img src=""## get_root() ##/Content/DataGrid/MessageBrowserContent/images/## DataItem.GetMember('AttachmentIcon').Value ##"" width=""8"" height=""10"" border=""0""></td>
            <td>
            <table cellspacing=""0"" cellpadding=""2"" border=""0"" style=""width:255px;"">
            <tr>
              <td style=""font-family:verdana;font-size:11px;""><div style=""overflow:hidden;width:115px;""><nobr>## DataItem.GetMember('StartedBy').Value ##</nobr></div></td>
              <td style=""font-family:verdana;font-size:11px;""><div style=""overflow:hidden;width:135px;""><nobr>## DataItem.GetMember('LastPostDate').Text ##</nobr></div></td>
            </tr>
            <tr>
              <td colspan=""2"">
              <table cellspacing=""0"" cellpadding=""0"" border=""0"" width=""100%"">
              <tr>
                <td width=""230"" colspan=""2"" style=""font-family:verdana;font-size:11px;font-weight:bold;""><div style=""text-overflow:ellipsis;overflow:hidden;width:250px;""><nobr>## DataItem.GetMember('Subject').Value ##</nobr></div></td>
              </tr>
              </table>
            </tr>
            </table>
            </td>
          </tr>
          </table>
          </td>
          <td style=""background-color:#CAC6D4;padding:2px;"" align=""center""><img src=""## get_root() ##/Content/DataGrid/MessageBrowserContent/images/## DataItem.GetMember('FlagIcon').Value ##"" width=""12"" height=""12"" border=""0""></td>
        </tr>
        <tr>
          <td colspan=""2"" style=""height:14px;background-color:#757598;"">
          <table width=""100%"" cellspacing=""0"" cellpadding=""0"" border=""0"">
          <tr>
            <td style=""padding-left:5px;color:white;font-family:verdana;font-size:10px;"">
            Page <b>## DataItem.PageIndex + 1 ##</b> of <b>## Grid1.PageCount ##</b>
            </td>
            <td style=""padding-right:5px;color:white;font-family:verdana;font-size:10px;"" align=""right"">
            Message <b>## DataItem.Index + 1 ##</b> of <b>## Grid1.RecordCount ##</b>
            </td>
          </tr>
          </table>
          </td>
        </tr>
        </table>  
");
  })
)
