

	<div id="ft">@* footer *@
		<ul>
			<li>Copyright &copy; 2011 ComponentArt Inc. All rights reserved.</li>
			<li class="lnk"><a href="http://www.componentart.com/" title="ComponentArt.com" target="_blank">ComponentArt.com</a></li>
		</ul>

		<p id="ver">Version <strong id="build-number">2012.1.1000</strong></p>
	</div>@* /footer *@
</div>@* /body *@