<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WCFMessageService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISoaDataGridService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" messageEncoding="Text"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="64" maxStringContentLength="8388608"
                        maxArrayLength="8388608" maxBytesPerRead="8388608" maxNameTableCharCount="8388608" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISoaTreeViewService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" messageEncoding="Text"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="64" maxStringContentLength="8388608"
                        maxArrayLength="8388608" maxBytesPerRead="8388608" maxNameTableCharCount="8388608" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ManualNavBarService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ManualTreeViewFileExplorerService"
                    closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                    sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
                    hostNameComparisonMode="StrongWildcard" maxBufferSize="65536"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISoaNavBarService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
				<binding name="BasicHttpBinding_ISoaTabStripService" closeTimeout="00:01:00"
			   openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
			   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			   maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
			   maxReceivedMessageSize="2147483647" messageEncoding="Text"
			   textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="64" maxStringContentLength="8388608"
                        maxArrayLength="8388608" maxBytesPerRead="8388608" maxNameTableCharCount="8388608" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
                <binding name="BasicHttpBinding_WCFCarService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_WCFProductService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_SalesDataService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISoaComboBoxService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" messageEncoding="Text"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="64" maxStringContentLength="8388608"
                        maxArrayLength="8388608" maxBytesPerRead="8388608" maxNameTableCharCount="8388608" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
				<binding name="BasicHttpBinding_ISoaToolBarService" closeTimeout="00:01:00"
	openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
	allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
	maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
	messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
	useDefaultWebProxy="true">
					<readerQuotas maxDepth="64" maxStringContentLength="8388608" maxArrayLength="8388608" maxBytesPerRead="8388608" maxNameTableCharCount="8388608" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1337/Services/WCFMessageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WCFMessageService"
                contract="MessageService.WCFMessageService" name="BasicHttpBinding_WCFMessageService" />
            <endpoint address="http://localhost:1337/Services/SoaDataGridMessageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoaDataGridService"
                contract="SoaDataGridService.ISoaDataGridService" name="SoaDataGridMessageService" />
            <endpoint address="http://localhost:1337/Services/SoaDataGridProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoaDataGridService"
                contract="SoaDataGridService.ISoaDataGridService" name="SoaDataGridProductService" />
            <endpoint address="http://localhost:1337/Services/SoaDataGridFeedService.svc"
                behaviorConfiguration="HeavyBehavior" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISoaDataGridService"
                contract="SoaDataGridService.ISoaDataGridService" name="SoaDataGridFeedService" />
            <endpoint address="http://localhost:1337/Services/SoaFeedReaderTreeViewService.svc"
                behaviorConfiguration="HeavyBehavior" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISoaTreeViewService"
                contract="SoaTreeViewService.ISoaTreeViewService" name="SoaFeedReaderTreeViewService" />
            <endpoint address="http://localhost:1337/Services/SoaNavBar.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoaNavBarService"
                contract="SoaNavBarService.ISoaNavBarService" name="BasicHttpBinding_ISoaNavBarService" />
            <endpoint address="http://localhost:1337/Services/ManualTreeViewFileExplorerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ManualTreeViewFileExplorerService"
                contract="ManualTreeViewFileExplorerService.ManualTreeViewFileExplorerService"
                name="BasicHttpBinding_ManualTreeViewFileExplorerService" />
            <endpoint address="http://localhost:1337/Services/ManualNavBarService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ManualNavBarService"
                contract="ManualNavBarService.ManualNavBarService" name="BasicHttpBinding_ManualNavBarService" />
            <endpoint address="http://localhost:1337/Services/WCFCarService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WCFCarService"
                contract="WCFCarService.WCFCarService" name="BasicHttpBinding_WCFCarService" />
            <endpoint address="http://localhost:1337/Services/WCFProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WCFProductService"
                contract="ProductService.WCFProductService" name="BasicHttpBinding_WCFProductService" />
            <endpoint address="http://localhost:1337/Services/SalesDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SalesDataService"
                contract="SalesDataService.SalesDataService" name="BasicHttpBinding_SalesDataService" />
            <endpoint address="http://localhost:1337/Services/SoaComboBoxLocationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoaComboBoxService"
                contract="SoaComboBoxService.ISoaComboBoxService" name="SoaComboBoxLocationService" />
			<endpoint address="http://localhost:1337/Services/SoaSimpleToolBarService.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoaToolBarService"
				contract="SoaToolBarService.ISoaToolBarService" name="SoaSimpleToolBarService" />
			<endpoint address="http://localhost:1337/Services/SoaSimpleTabStripService.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoaTabStripService"
				contract="SoaTabStripService.ISoaTabStripService" name="SoaSimpleTabStripService" />
        </client>
        <behaviors>
          <endpointBehaviors>
            <behavior name="HeavyBehavior">
              <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
            </behavior>
          </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
