@using ComponentArt.Web.UI
@{
  ViewData["DemoType"] = "Menu";
  ViewData["DemoTitle"] = "Themed with CSS icons";
  ViewData["CodeFiles"] = "/Views/Menu/ThemedWithCssIcons.aspx,/Controllers/MenuController.cs";
  ViewData["AboutText"] = @"
<ul>
<li>Custom icon images are defined inside CSS classes, which are applied to MenuItems by a 'IconCssClass' property. </li>
</ul>
";    
}
@section HeadContent {
  <link href="@Url.Content("~/Content/Menu/ThemedWithCssIcons/menu.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Content/Themes/Outlook2007/theme.css")" rel="stylesheet" type="text/css" />
}
@(Html.ComponentArt().Menu()
  .ID("Menu1")
  .SiteMapXmlFile("~/App_Data/Menu/ThemedWithCssIcons/menuData.xml")
  .AutoTheming(true)
)
