/* General Styles ------------------------------------------------------------
h1
{
  font-family: Tahoma;
  font-size: 16px;
  font-weight: bold;
  color:#D82905;
}
*/
h3
{
  font-size:11px;
  font-weight:bold;
  margin-bottom:0px;
}
/*
ul
{
  list-style: square;
  font-family: Verdana;
  font-size: 11px;
  margin-top: 0px;
  margin-left:0px;
  padding-left: 20px;
}

a { color:#dd3409;text-decoration:none; }
a:hover { color:#dd3409;text-decoration:underline; }
*/

/* TreeView styles ----------------------------------------------------------- */

.TreeView
{
  background-color: #ffffff;
  border: 1px solid #ACACAC;
  border-top-width: 0px;
  padding-top:1px;
  padding-left:1px;
  cursor:default;
}

.TreeNode
{
  font-family: tahoma;
  font-size: 11px;
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px;
  padding-right: 3px;
}

.GrayedTreeNode
{
  font-family: tahoma;
  font-size: 11px;
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px;
  padding-right: 3px;
  color:gray;
  cursor:default;
}

.HoverTreeNode
{
  font-family: tahoma;
  font-size: 11px;
  text-decoration:underline;
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px;
  padding-right: 3px;
  cursor: default;
}

.SelectedTreeNode
{
  background-image: url(images/node_bg.gif);
  font-family: tahoma;
  font-size: 11px;
  border: solid 1px #9ADFFE;
  padding-top:1px;
  padding-bottom:0px;
  padding-left: 2px;
  padding-right: 2px;
  cursor: default;
}

.HoverPopupTreeNode
{
  background-color: White;
  font-family: tahoma;
  font-size: 11px;
  border: solid 1px black;
  padding-top:1px;
  padding-bottom:1px;
  padding-left: 2px;
  padding-right: 2px;
  position: absolute;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2);
  cursor: default;
}

.HoverPopup
{
  background-image: url(images/node_bg.gif);
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2);
  font-family: tahoma;
  font-size: 11px;
  border: solid 1px #9ADFFE;
  padding-top:1px;
  padding-bottom:0px;
  padding-left: 2px;
  padding-right: 2px;
  cursor: default;
}

.NodeEdit
{
  border:1px gray solid;
  font-family: tahoma;
  font-size: 11px;
}

/* Grid styles ----------------------------------------------------------- */

.Grid
{
  background-color: #ffffff;
  border: 1px solid #ACACAC;
  border-top-width: 0px;
  cursor: default;
}

.HeadingCell
{
  color: black;
  background-image: url(images/grid_header_bg.gif);
  background-color: #FFFFFF;
  border: 0px;
  border-bottom: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
  padding: 5px;
  padding-bottom: 4px;
  padding-right: 4px;
}

.HeadingCellHover
{
  background-image: url(images/grid_header_hover_bg.gif);
  border: 1px solid #9ADFFE;
  padding: 4px;
}

.HeadingCellActive
{
}

.HeadingCellText
{
  cursor: default;
  font-family: Tahoma;
  font-size: 11px;
  padding-right: 5px;
}

.Row
{
  background-color: #FFFFFF;
}

.Row td.DataCell
{
  padding: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Tahoma;
  font-size: 11px;
  cursor: default;
}

.SortedDataCell
{
  background-color: #F5F5F5;
}

.SortedHeadingCell
{

}

.Row td.LastDataCell
{
  background-color: #EFEFF4;
}

.SelectedRow
{
}

.SelectedRow td.DataCell
{
  cursor: default;
  background-color: #FFFFFF;
  background-image: url(images/selected_item_bg.gif);
  padding: 2px;
  padding-left: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: Tahoma;
  font-size: 11px;
  border-bottom: 1px solid #9ADFFE;
  border-top: 1px solid #9ADFFE;
  border-right: 0px;
}

.ScrollBar
{
  background-image: url(images/scroller/scroller_bg.gif);
}

.ScrollGrip
{
  background-image: url(images/scroller/scroll_gripBg.gif);
}

.ScrollPopup
{
  background-color: #FFFFFF;
  border: 1px solid #666666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  height: 23px;
}

/* Container styles --------------------------------------------------------------- */
.Heading
{
  background: url(images/heading_bg.gif);
  background-color: #4B4B4B;
  color: #FFFFFF;
  border: #57566F 1px solid;
  font-family: tahoma;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
  cursor: default;
}
