.itm-bob a span.h2 { margin:4px 0 0 5px !important; }
.itm-bob a span.txt { width:164px !important;padding:0 0 0 5px !important; }

.itm-int a span.h2 { margin:4px 0 0 5px !important; }
.itm-int a span.txt { width:164px !important;padding:0 0 0 5px !important; }

.itm-des a span.h2 { margin:4px 0 0 5px !important; }
.itm-des a span.txt { width:164px !important;padding:0 0 0 5px !important; }

#DemoArea { width:100% !important;height:100% !important; }