.FolderListTreeView 
{ 
  color:black;
  background-color:White;
  padding-top:4px; 
  padding-left:1px; 
  border:none; 
  cursor:default;
  font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

.FolderListTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
}

.GrayedTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  color:gray; 
  cursor:default;
}

.FolderListHoverTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  text-decoration:underline; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.FolderListSelectedTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.FolderListSelectedTreeNodeRow
{ 
  background-color: #E5E5E5; 
}

.FolderListNodeEdit 
{
  border:1px gray solid;
  font-family: tahoma; 
  font-size: 11px;  
}