.TopMenuTopGroup
{
  font-size:11px !important;
  color:black;
  background-color:#BFDBFF;
  cursor:default;
  font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
}
.TopMenuTopItem
{
  border:solid 1px #BFDBFF;
}
.TopMenuTopItemHover
{
  border:solid 1px #FFBD69;
  background-color:#FFDB75;
  background-image:url(top_panel_images/item_bg_hover.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopMenuTopItemActive
{
  border:solid 1px #FB8C3C;
  background-color:#FFB85E;
  background-image:url(top_panel_images/item_bg_active.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopMenuTopItemExpanded
{
  border:solid 1px #6593CF;
  background-color:#8CB6ED;
  background-image:url(top_panel_images/item_bg_expanded.gif);
  background-repeat:repeat-x;
  background-position:left top;
}


.TopMenuGroup
{
  color:black; 
  background-image:url(top_panel_images/menu_group_bg.gif);
  background-color:#F6F6F6;
  background-position:top left;
  background-repeat:repeat-y;
  border:solid 1px #6593CF; 
  cursor:default; 
  font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
}
.TopMenuItem
{
  font-family:tahoma; 
  font-size:11px; 
  cursor:default; 
/*border:solid 1px transparent; -- This would be ideal, but IE6 doesn't support it.  Instead we mess with margins and borders: */
  border:none;
  margin:0px;
  border-left:solid 1px #E9EEEE;
  border-right:solid 1px #F6F6F6;
  margin-top:1px;
  margin-bottom:1px;  
}
.TopMenuItemHover 
{
  background-color:#FFE7A2;
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #FFBD69; 
  cursor:default; 
}
.TopMenuItem TR TD IMG,
.TopMenuItemHover TR TD IMG,
.TopMenuDisabledItem TR TD IMG,
.TopMenuDisabledItemHover TR TD IMG
{
  padding-left:1px;
}
.TopMenuDisabledItem
{
  color:#8D8D8D; 
  font-family:tahoma; 
  font-size:11px; 
  cursor:default; 
/*border:solid 1px transparent; -- This would be ideal, but IE6 doesn't support it.  Instead we mess with margins and borders: */
  border:none;
  margin:0px;
  border-left:solid 1px #E9EEEE;
  border-right:solid 1px #F6F6F6;
  margin-top:1px;
  margin-bottom:1px;  
}
.TopMenuDisabledItemHover 
{
  background-color:#F6F6F6;
  color:#8D8D8D; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #FFBD69; 
  cursor:default; 
}
.TopMenuBreak
{
  background-image:url(top_panel_images/menu_break.gif);
  width:100%;
  height:1px;
}





.TopToolBar
{
  color:black;
  border:none;
  background-color:#B1D3FF;
  background-image:url(top_panel_images/bg.gif);
  background-repeat:repeat-x;
  cursor:default;
  height:25px;
  font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

.TopToolBarImageOnlyItem TR TD.ca_tb_img
{
  border:none;
  padding:3px;
}
.TopToolBarImageOnlyItemHover TR TD.ca_tb_img
{
  border:solid 1px #FFBD69;
  padding:2px;
  background-color:#FFDB75;
  background-image:url(top_panel_images/item_bg_hover.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarImageOnlyItemActive TR TD.ca_tb_img
{
  border:solid 1px #FB8C3C;
  padding:2px;
  background-color:#FFB85E;
  background-image:url(top_panel_images/item_bg_active.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarImageOnlyItemExpanded TR TD.ca_tb_img
{
  border:solid 1px #6593CF;
  padding:2px;
  background-color:#8CB6ED;
  background-image:url(top_panel_images/item_bg_expanded.gif);
  background-repeat:repeat-x;
  background-position:left top;
}

.TopToolBarImageTextItem TR TD.ca_tb_img
{
  border:none;
  padding:3px;
  padding-right:2px;
}
.TopToolBarImageTextItem TR TD.ca_tb_txt
{
  border:none;
  padding:3px;
  padding-left:2px;
}
.TopToolBarImageTextItemHover TR TD.ca_tb_img
{
  border:solid 1px #FFBD69;
  border-right:none;
  padding:2px;
  background-color:#FFDB75;
  background-image:url(top_panel_images/item_bg_hover.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarImageTextItemHover TR TD.ca_tb_txt
{
  border:solid 1px #FFBD69;
  border-left:none;
  padding:2px;
  background-color:#FFDB75;
  background-image:url(top_panel_images/item_bg_hover.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarImageTextItemActive TR TD.ca_tb_img
{
  border:solid 1px #FB8C3C;
  border-right:none;
  padding:2px;
  background-color:#FFB85E;
  background-image:url(top_panel_images/item_bg_active.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarImageTextItemActive TR TD.ca_tb_txt
{
  border:solid 1px #FB8C3C;
  border-left:none;
  padding:2px;
  background-color:#FFB85E;
  background-image:url(top_panel_images/item_bg_active.gif);
  background-repeat:repeat-x;
  background-position:left top;
}


.TopToolBarSplitItem TR TD.ca_tb_img
{
  border:none;
  padding:3px;
  padding-right:2px;
}
.TopToolBarSplitItem TR TD.ca_tb_txt
{
  border:none;
  padding:3px;
}
.TopToolBarSplitItem TR TD.ca_tb_ddn
{
  border:none;
  padding:4px;
  padding-left:3px;
}
.TopToolBarSplitItemHover TR TD.ca_tb_img
{
  border:solid 1px #FFBD69;
  border-right:none;
  padding:2px;
  background-color:#FFDB75;
  background-image:url(top_panel_images/item_bg_hover.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarSplitItemHover TR TD.ca_tb_txt
{
  border:solid 1px #FFBD69;
  border-left:none;
  border-right:none;
  padding:3px;
  padding-right:2px;
  background-color:#FFDB75;
  background-image:url(top_panel_images/item_bg_hover.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarSplitItemHover TR TD.ca_tb_ddn
{
  border:solid 1px #FFBD69;
  padding:3px;
  background-color:#FFDB75;
  background-image:url(top_panel_images/item_bg_hover.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarSplitItemActive TR TD.ca_tb_img
{
  border:solid 1px #FB8C3C;
  border-right:none;
  padding:2px;
  background-color:#FFB85E;
  background-image:url(top_panel_images/item_bg_active.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarSplitItemActive TR TD.ca_tb_txt
{
  border:solid 1px #FB8C3C;
  border-left:none;
  border-right:none;
  padding:3px;
  padding-right:2px;
  background-color:#FFB85E;
  background-image:url(top_panel_images/item_bg_active.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarSplitItemActive TR TD.ca_tb_ddn
{
  border:solid 1px #FFBD69;
  padding:3px;
  background-color:#FFDB75;
  background-image:url(top_panel_images/item_bg_hover.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarSplitItemExpanded TR TD.ca_tb_img
{
  border:solid 1px #6593CF;
  border-right:none;
  padding:2px;
  background-color:#8CB6ED;
  background-image:url(top_panel_images/item_bg_expanded.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarSplitItemExpanded TR TD.ca_tb_txt
{
  border:solid 1px #6593CF;
  border-left:none;
  border-right:none;
  padding:3px;
  padding-right:2px;
  background-color:#8CB6ED;
  background-image:url(top_panel_images/item_bg_expanded.gif);
  background-repeat:repeat-x;
  background-position:left top;
}
.TopToolBarSplitItemExpanded TR TD.ca_tb_ddn
{
  border:solid 1px #6593CF;
  border-left:none;
  padding:3px;
  padding-left:4px;
  background-color:#8CB6ED;
  background-image:url(top_panel_images/item_bg_expanded.gif);
  background-repeat:repeat-x;
  background-position:left top;
}

.TopToolBarBreakItem TR TD.ca_tb_img
{
  padding:2px;
}

.TopToolBarCustomItem
{
  padding:0px;
  border:none;
  margin:0px;
}

.TopMenuTopGroup .cart-txt { font-size:11px !important; }

.TopToolBarCustomItem .cart-toolbar-separator { height:25px !important;padding:0 !important; }
.TopToolBarCustomItem .cart-toolbar-separator div.cart-outer { width:auto !important;height:auto !important;background:transparent !important;margin:0 !important; }
.TopToolBarCustomItem .cart-toolbar-separator div.cart-outer div.cart-inner { width:auto !important;height:auto !important;background:transparent !important; }

.TopToolBarBreakItem .cart-toolbar-separator { height:15px !important;padding:0 !important; }
.TopToolBarBreakItem .cart-toolbar-separator div.cart-outer { width:auto !important;height:auto !important;background:transparent !important;margin:0 !important; }
.TopToolBarBreakItem .cart-toolbar-separator div.cart-outer div.cart-inner { width:auto !important;height:auto !important;background:transparent !important; }